{% extends "profik/base.html" %} {% block content %}
<div class="container">
  <h1>Ajout des Corrections</h1>
  <p>Exercise: {{ question.exercise.id }}</p>
  {% if messages %} {% for message in messages %}
  <div class="alert alert-info">{{ message }}</div>
  {% endfor %} {% endif %}
  <div class="correction-form">
    {% if current_index < 3 %}
    <h2>Proprietés de la Correction:</h2>
    <form method="post" action="{% url 'add_correction' question.id %}">
      {% csrf_token %}
      <div class="form-group">
        <label for="{{ form.text.id_for_label }}">{{ form.text.label }}</label>
        {{ form.text }}
      </div>
      <div class="form-group">
        <label for="{{ form.theorem_text.id_for_label }}"
          >{{ form.theorem_text.label }}</label
        >
        {{ form.theorem_text }}
      </div>
      <div class="form-group">
        <label for="{{ form.comments.id_for_label }}"
          >{{ form.comments.label }}</label
        >
        {% if form.comments.value == 0 %}
        <p>Minimum</p>
        {% elif form.comments.value == 1 %}
        <p>moyen</p>
        {% else %}
        <p>trés explicatif</p>
        {% endif %}
      </div>
      {% for field in form.hidden_fields %} {{ field }} {% endfor %}
      <button type="submit" class="btn btn-primary">Ajouter correction</button>
    </form>
    {% endif %}
  </div>
</div>
{% endblock %}
