{% extends "profik/base.html" %} {% block content %}
<h1>Add Correction</h1>
<p>Exercise: {{ exercise.id }}</p>
{% if messages %}
{% for message in messages %}
  <div class="alert alert-info">{{ message }}</div>
{% endfor %}
{% endif %}
<div>
  {% if num_remaining_combinations > 0 %}
  <h2>Correction Properties:</h2>
  <form method="post" action="{% url 'add_correction' exercise.id %}">
    {% csrf_token %} 
    <p>Correction text</p> 
    {{ form.text }} <br />
    {{ form.theoreme.label_tag }} {{ form.theoreme.value }} <br />
    {{ form.nombre_de_methode.label_tag }} {{ form.nombre_de_methode.value }}
    <br />
    {{ form.commentaires.label_tag }} {{ form.commentaires.value }} <br />

    {% for field in form.hidden_fields %} {{ field }} {% endfor %}
    {% if form.errors %}
    <div class="form-errors">
      <ul>
        {% for field in form %} {% if field.errors %}
        <li>
          {{ field.label }}:
          <ul>
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </li>
        {% endif %} {% endfor %}
      </ul>
    </div>
    {% endif %}

    <input type="submit" value="Submit" />
  </form>
</div>
{% endif %} 
{% if current_index >= num_combinations %}
<p>All combinations have been processed. Redirecting to add_question...</p>
<script>
  setTimeout(function() {
    window.location.href = "{% url 'add_question' exercise.id %}";}, 3000);  // Redirect after 3 seconds
</script>
{% endif %}
{% endblock %}