{% extends "profik/base.html" %}

{% block head %}

<script>
  function search() {
    const form = document.getElementById('correction-form');
    form.submit();
  }
</script>
{% endblock %}

{% block content %}
  <h1>Dropdown Menu</h1>

  <!-- Exercise dropdown -->
  <div>
    <!-- Find exercise form -->
    <form action="{% url 'exercise_generator' %}" method="get">
      {% csrf_token %}
      <!-- Dropdown menus for exercise properties -->
      {{ exercise_form.as_p }}
      <button type="submit">Find Exercise</button>
    </form>
  </div>
    <div>
      <!-- Find correction form -->
      <form id="correction-form" action="{% url 'exercise_generator' exercise.id %}">
        {% csrf_token %}
        <!-- Dropdown menus for correction properties -->
        {{ correction_form.as_p }}
        <button type="submit">Show Correction</button>
      </form>
    </div>
  {% if exercise %}
    <button onclick="search({{ exercise.id }})">Generer</button>
  {% endif %}
{% endblock %}
