/* Styling for the navbar */
.navbar {
  margin: 0;
  display: inline-flex;
  flex-direction: column;
  align-items: left;
  background-color: #c517f9;
  padding: 20px;
  height: 100vh;
  width: 10%;
}

/* Styling for the logo image */
.logo {
  width: 100%;
  margin-bottom: 20px;
}

/* Styling for the navigation options */
.navbar ul {
  justify-content: top;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar li {
  width: max-content;
  margin-top: 10px;
  margin-right: 20px;
}
