.mainContainer {
  display: inline-flex;
  flex-direction: column;
  align-content: flex-start;
  padding: 10px 40px;
  width: 90%;
  background-color: #f7f7f7;
  row-gap: 10px;
  margin-left: 12%;
}
.mainContainer p {
  height: 0;
  margin: 0;
}
.exerciseTitle {
  color: #c517f9;
  margin: 0;
}
