:root {
  --font-size: 18px;
}

.form-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;

  padding: 20px;
  background-color: var(--card-background-color);
  margin-bottom: 20px;
}

.form-container label {
  display: block;
  width: clamp(200px, 100%, 300px);
  margin-bottom: 10px;
  font-weight: 400;
  color: var(--text-primary-color);
}

.form-container select {
  text-align: center;
  width: clamp(100px, 150%, 300px);
  margin: 0 auto;
  margin-top: 10px;
  display: block;
  color: var(--text-secondary-color);
  height: 40px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: var(--primary-color);
  font-size: var(--font-size);
  line-height: 1.5;
}

.form-container select:focus {
  outline: none;
  border-color: #2196f3;
  box-shadow: 0 0 0 2px rgba(33, 150, 243, 0.2);
}

.form-container option {
  font-size: var(--font-size);
}

.indication {
  color: var(--text-primary-color);
}

.form-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.form-column {
  width: clamp(100px, 100%, 300px);
  max-width: 700px;
  flex: 1;
  margin-right: 3%;
  background-color: var(--card-background-color);
}

#form-submit-button {
  display: block;
  width: clamp(100px, 50%, 175px);
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
