.navbar {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100vh;
  background-color: var(--primary-color);
  color: rgba(255, 255, 255, 0.4);
  padding: 0;
  box-sizing: border-box;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar li {
  margin-bottom: 10px;
}

.navbar button {
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 4px;
}

.navbar .active {
  color: var(--text-secondary-color);
}

.logo {
  display: inline-block;
  margin-right: 10px;
}

.logo i {
  display: inline;
}

.logo img {
  width: 100%;
}
