{% extends "profik/base.html" %} {% block content%}
<!DOCTYPE html>
<html>
  <head>
    <title>Dropdown Menu</title>
  </head>
  <style>
    select {
      width: 100px;
      margin: 10px;
    }
    p {
      height: 100px;
      width: 100px;
      border: 3px solid red;
    }
  </style>
  <body>
    <h1>Dropdown Menu</h1>

    <!-- Exercice dropdown -->
    <div>
      <!-- Find exercise form -->
      <form action="{% url 'generateur_exercice' %}">
        {% csrf_token %}
        <!-- Dropdown menus for exercise properties -->
        <label for="longueur">Longueur:</label>
        <select name="longueur" id="longueur">
          <option value=0>Short</option>
          <option value=1>Medium</option>
          <option value=2>Long</option>
        </select>

        <label for="difficulte">Difficulte:</label>
        <select name="difficulte" id="difficulte">
          <option value=0>Easy</option>
          <option value=1>Medium</option>
          <option value=2>Hard</option>
        </select>

        <label for="cours">cours:</label>
        <select name="cours" id="cours">
          <option value="Mathematics">Mathematics</option>
          <option value="test1">test</option>
          <option value="test2">test</option>
        </select>

        <label for="partie_cours">Partie Cours:</label>
        <select name="partie_cours" id="partie_cours">
          <option value="Algebra">Algebra</option>
          <option value="test1">test</option>
          <option value="test2">test</option>
        </select>
        </select>
        <label for="but">But:</label>
        <select name="but" id="but">
          <option value="Solve equations">Solve equations</option>
          <option value="test1">test</option
          <option value="test2">test</option>
        </select>
        <button type="submit" >Find Exercise</button>
      </form>
      {% if exercise != None%}
      <p>{{exercise.text}}</p>
      {%else%}
      <p>exercise not found</p>
      {% endif %}
    </div>

    <!-- Correction dropdown -->
    <div>
      <!-- Find correction form -->
      <form action="{% url 'generateur_exercice' %}">
        {% csrf_token %}
        <input type="hidden" name="exercise-form">
        <!-- Dropdown menus for correction properties -->
        <label for="nombre-de-methode">N° de methode:</label>
        <select name="nombre-de-methode" id="nombre-de-methode">
          <option value="False">un</option>
          <option value="True">multiple</option>
        </select>

        <label for="commentaire">Commentaire:</label>
        <select name="commentaire" id="commentaire">
          <option value=0>minimum</option>
          <option value=1>moyen</option>
          <option value=2>explicatif</option>
        </select>

        <label for="cours">cours:</label>
        <select name="cours" id="cours">
          <option value="Cours1">cours 1</option>
          <option value="test1">test</option>
          <option value="test2">test</option>
        </select>

        <label for="theoreme">Theoreme</label>
        <select name="theoreme" id="theoreme">
          <option value="Flase">non</option>
          <option value=True>oui</option>

        </select>
        
        <button type="submit">Find Correction</button>
      </form>
      {% if correction != None%}
      <p>{{correction.text}}</p>
      {%else%}
      <p>correction not found</p>
      {% endif %}
    </div>
    {% if exercise %}
    <p>{{ exercise.text }}</p>
    {% elif correction %}
    <p>{{ correction.text }}</p>
    {% else %}
    <p>No result found</p>
    {% endif %}
  </body>
</html>
{% endblock %}
